.Project_section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid white;
} 
.Project_section h1{
    font-size: 8vh;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Project_icon{
    width: 50px;
    height: 50px;
}
.all_projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}
.each_project{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    padding: 20px;
    border: 1px solid violet;
    border-radius: 10px;
    cursor: pointer;
}
.each_project h1{
    font-size: 3.5vh;
}
.each_project a{
    text-decoration: none;
    color: white;
}
.each_project p{
    font-size: 3vh;
}
@media (min-width: 768px) and (max-width: 1023px){

}

@media (max-width: 768px) {
    .Project_section h1{
        font-size: 4vh;
    }
    .each_project h1{
        font-size: 3vh;
    }
    .each_project p{
        font-size: 2.5vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){

}

@media (min-width: 1920px) {

}