*{
  box-sizing: border-box;
  margin: 0px;
}

body{
  font-family: 'Poppins', sans-serif;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0); /* Transparent black */
  color: black;
}

html{
  scroll-behavior: smooth;
}